<%- include("../layout/adminHeader") %>
<%- include("../layout/adminSidebarHead") %>

<style>

</style>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header pt-5">
      <h3 class="page-title">
        <span class="page-title-icon btn-gradient-primary text-white mr-2">
          <i class="mdi mdi-cube-outline menu-icon"></i>
        </span>Add Product
      </h3>
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <span></span>
            <button class="btn btn-outline-github" onclick="location.href='/admin/products'">Back to Products</button>
          </li>
        </ul>
      </nav>
    </div>

    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">

          <!------ADD PRODUCT FORM------>
          <form class="forms-sample" method="post" enctype="multipart/form-data" onsubmit="return validateForm(event)">
            <!-- Name -->
            <div class="form-group">
              <label for="productName">Product Name</label>
              <input type="text" class="form-control" id="productName" name="productName" placeholder="Enter the Product Name">
              <small id="productNameError" class="text-danger"></small>
            </div>
          
            <!-- Category -->
            <div class="form-group">
              <label for="category">Category</label>
              <select class="form-control" id="category" name="categoryName">
                <option disabled selected value="">Nothing selected</option>
                <% 
                let activeCategories = category.filter(cat => cat.status === 'active'); 
                for(let i = 0; i < activeCategories.length; i++){ %>
                  <option value="<%= activeCategories[i].categoryName %>"><%= activeCategories[i].categoryName %></option>
                <% } %>
              </select>
              <small id="categoryError" class="text-danger"></small>
            </div>
          
            <!-- Image -->
            <div class="form-group">
              <label>Images</label>
              <input type="file" name="images" class="file-upload-default" accept="image/*" multiple onchange="handleFileSelect(event)" id="imageInput">
              <div class="input-group col-xs-12">
                <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image" id="fileCount" value="">
                <span class="input-group-append">
                  <button class="file-upload-browse btn btn-inverse-dark" type="button" onclick="document.getElementById('imageInput').click()">Upload</button>
                </span>
              </div>
              <div id="imagePreview"></div>
              <small id="imageError" class="text-danger"></small>
            </div>
          
            <!-- Quantity -->   
            <div class="form-group">
              <label for="quantity">Quantity</label>
              <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Enter the Quantity">
              <small id="quantityError" class="text-danger"></small>
            </div>
          
            <!-- Price -->
            <div class="form-group">
              <label for="price">Price</label>
              <input type="text" class="form-control" id="price" name="price" placeholder="Enter the Price">
              <small id="priceError" class="text-danger"></small>
            </div>

            <!-- Highlights -->
            <div class="form-group">
              <label for="highlights">Highlights</label>
              <textarea class="form-control" id="highlights" name="highlights" rows="4" placeholder="Enter each feature on a new line"></textarea>
              <small id="highlightsError" class="text-danger"></small>
            </div>

            <!-- Details -->
            <div class="form-group">
              <label for="productDetails">Product Details</label>
              <textarea class="form-control" id="productDetails" name="productDetails" rows="4"></textarea>
              <small id="productDetailsError" class="text-danger"></small>
            </div>

            <!-- Description -->
            <div class="form-group">
              <label for="productDescription">Product Description</label>
              <textarea class="form-control" id="productDescription" name="productDescription" rows="4"></textarea>
              <small id="productDescriptionError" class="text-danger"></small>
            </div>
          
            <button type="submit" class="btn btn-success mr-2">Add</button>
            <a href="/admin/products" class="btn btn-danger">Cancel</a>
          </form>          
          <!------PRODUCT FORM END------>

        </div>
      </div>
    </div>    
  </div>
</div>
<%- include("../layout/adminSidebarFoot") %>

<div id="cropModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Crop Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="img-container">
          <img id="cropperImage" src="" alt="Image for cropping" style="max-width: 100%;">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="cropButton">Crop</button>
      </div>
    </div>
  </div>
</div>

<!--===============================================================================================-->
<link href="https://unpkg.com/cropperjs/dist/cropper.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/cropperjs"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/addProducts.js"></script>
<!--===============================================================================================-->

<%- include("../layout/adminFooter") %>