<%- include("../layout/header") %>
	<!-- Navbar -->
	<%- include("../layout/navbar") %>


	<!-- Product -->
	<div class="bg0 m-t-23 p-b-140 p-t-75">
		<div class="container">
			<div class="flex-w flex-sb-m p-b-52">

				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
                    <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
                        All Products
                    </button>
                    
                    <% categories.forEach(category => { %>
                        <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="<%= category._id %>">
                            <%= category.categoryName %>
                        </button>
                    <% }) %>
                </div>
                
                <!-- Filter and search code starting -->
                 <div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						 Filter
					</div>

					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>
				</div>
				
				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
					</div>	
				</div>

				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<!-- Price sorting -->
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Price
							</div>
							<ul>
								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										Default
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										Price: Low to High
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										Price: High to Low
									</a>
								</li>
							</ul>
						</div>

						<!-- Name sorting -->
						<div class="filter-col2 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Name
							</div>
							<ul>
								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										Name [a - z]
									</a>
								</li>
								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										Name [z - a]
									</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
            	<!-- Filter and search code ending -->
			</div>

            <!-- PRODUCT -->
			<div class="row product-grid">
                <% products.forEach(product => { %>
                    <div class="col-sm-6 col-md-4 col-lg-3 product-item" data-category="<%= product.category._id %>">
                        <div class="block2">
                            <div class="block2-pic hov-img0">
                                <a href="/productDetails?productId=<%= product._id %>">
                                    <img src="/productimages/<%= product.image[0] %>" alt="IMG-PRODUCT">
                                </a>
                            </div>
                            <div class="block2-txt flex-w flex-t p-t-14">
                                <div class="block2-txt-child1 flex-col-l">
                                    <a href="/productDetails?productId=<%= product._id %>" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        <%= product.productName %>
                                    </a>
                                    <span class="stext-105 cl3">
                                        ₹ <%= product.price %>
                                    </span>
                                    <span class="stext-106 cl3">
                                        <% if (product.quantity >= 10) { %>
                                            <span style="color: green; font-size: smaller;">in stock</span>
                                        <% } else if (product.quantity > 0) { %>
                                            <span style="color: peru; font-size: smaller;">only <%= product.quantity %> left in stock</span>
                                        <% } else { %>
                                            <span style="color: red; font-size: smaller;">out of stock</span>
                                        <% } %>
                                    </span><br>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
            
			<!-- Load more -->
			<!-- <div class="flex-c-m flex-w w-full p-t-45">
				<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
					Load More
				</a>
			</div> -->

		</div>
	</div>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

<%- include("../layout/footer.ejs") %>


<!-- jQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        // When a category filter button is clicked
        $('.filter-tope-group button').on('click', function() {
            var filterValue = $(this).attr('data-filter');

            // Show all products if 'All Products' button is clicked
            if (filterValue === '*') {
                $('.product-item').show(); // Show all products
            } else {
                // Hide all products
                $('.product-item').hide();

                // Show products with matching data-category attribute
                $('.product-item[data-category="' + filterValue + '"]').show();
            }

            // Add/remove 'how-active1' class for styling the active button
            $('.filter-tope-group button').removeClass('how-active1');
            $(this).addClass('how-active1');
        });
    });
</script>