<%- include("../layout/header") %>
<!-- Navbar -->
<%- include("../layout/navbar") %>
<!-- CSS -->
<link rel="stylesheet" href="/css/viewOrders.css">

<!-- Breadcrumb -->
<div class="container p-t-75">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <a href="/profile" class="stext-109 cl8 hov-cl1 trans-04">
            Profile
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>
        <span class="stext-109 cl4">
            View Orders
        </span>
    </div>
</div>

<div class="container mt-5">
    <h4 class="">Your Orders</h4>

    <% if (order && order.length > 0) { %>
        <% order.forEach(order => { %>
            <div class="card mt-4">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-3">
                            <div>ORDER PLACED</div>
                            <div><%= new Date(order.date).toDateString() %></div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div>TOTAL</div>
                            <div>&#8377;<%= order.totalPrice.toFixed(2) %></div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div>SHIP TO</div>
                            <div><%= order.address.name %></div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div>ORDER # <%= order.orderId %></div>
                            <div>
                                <a href="/order-details?orderId=<%= order._id %>">View order details</a> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body mt-3">
                    <% order.items.forEach(item => { %>
                        <div class="row mb-3">
                            <div class="col-md-2">
                                <img src="/productimages/<%= item.image %>" alt="Product Image" class="img-fluid">
                            </div>
                            <!-- name -->
                            <div class="col-md-10">
                                <h5 class="viewOrdersPdtName"><%= item.productName %></h5>
                                <p>Category: <%= item.categoryName %></p>
                                <p>Quantity: <%= item.quantity %></p>
                                <p>Price: &#8377;<%= item.price.toFixed(2) %></p>
                                <!-- <p>Status: <%= item.itemStatus %></p> -->
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        <% }); %>
    <% } else { %>
        <p>No orders found.</p>
    <% } %>
</div>

<%- include("../layout/footer.ejs") %>
